<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2>Detalles del usuario</h2>
		
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${user.nombre}">
				Ejercicio 1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellidos</div>
			<div class="panel-body" th:text="${user.apellido}">100</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">Email</div>
			<div class="panel-body" th:text="${user.email}"></div>
		</div>
	</div>


</body>

</html>
